@import '../variables';

.App {
	background-color: $lightWhite;
	max-width: 1000px;
	margin: auto;
	position: relative;
	top: 80px;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.175);
	display: flex;
	justify-content: space-between;
}
